body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    color: #333;
}

.author {
    font-size: 16px;
    color: #666;
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.option {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.method {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    max-width: 180px;
    max-height: 80px;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
  }

  .close-btn {
    background-color: transparent;
    border: none;
    color: #721c24;
    cursor: pointer;
    font-weight: bold;

    
  }



#colorPickerInput {
    max-width: 180px;
    min-height: 40px;
}


.option:hover {
    background-color: #0056b3;
}

.option.chosen {
    background-color: #ffcc00; /* Change this to the desired color */
}

.method.chosen {
    background-color: #ffcc00; /* Change this to the desired color */
}


.main_container {
    text-align: center;
    margin-bottom: 20px;
}

#canvas {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    text-align: center;
}

#reset {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#reset:hover {
    background-color: #0056b3;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}



@media only screen and (max-width: 1200px) {
    .container {
        max-width: 800px;
    }

}

@media only screen and (max-width: 1200px) {
    .sidebar {
        justify-content: flex-start;
        align-items: flex-start;
      }

}

@media only screen and (max-width: 600px) {
    .heading .title {
        font-size: 20px;
    }

    .heading .author {
        font-size: 14px;
    }

    .sidebar {
        justify-content: flex-end;
        align-items: flex-end;
        gap: unset;
      }
}

@media only screen and (min-width: 1900px) {
    .container {
        max-width: 2000px;
    }

}

.disabled {
    display: none;
}
