*.pkl binary
# Jupyter notebook

# For text count
# *.ipynb text

# To ignore it use below
*.ipynb linguist-documentation

UIT/CS105.O22.KHCL/** linguist-vendored
UIT/CS115.N12.KHCL/** linguist-vendored
